
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>列表</title>
    <script type="text/javascript">
    function getCookie(c_name)
    {
    if(document.cookie.length>0){
      c_start=document.cookie.indexOf(c_name+"=")
      if(c_start!=-1){
        c_start=c_start+c_name.length+1;
        c_end=document.cookie.indexOf(";", c_start);
        if(c_end==-1) c_end=document.cookie.length;
        return unescape(document.cookie.substring(c_start, c_end))
      }
    }
    return "";
    }
    </script>
</head>

<body>
<h1>Welcome {{ nick }}</h1>
<div id="user"></div>
<h1>列表显示：</h1>
<ul>
    {% for solution in object_list %}
        <li><a href="{% url 'solutionDetail' solution.solution_id %}">{{ solution.solution_id }}---{{ solution.result }}</a></li>
    {% endfor %}
<br>
<a href="http://localhost:8000/login/">登陆</a>
</body>
</html>
